.info {
    height: 320px;
    padding-top: 89px;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
.info__title {
    font-size: 72px;
    font-weight: 800;
}

.info__description {
    margin-top: 35px;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    color: #707070;
}

@media screen and (max-width: 1040px)  {
    .info__title {
        font-size: 56px;
    }
    .info {
        height: 320px;
        padding-top: 89px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
    }
}